.navbar {
  --background-color: #f8f9fa;
  --text-color: black;

  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.navList {
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  padding: 1.7em;
  gap: 3em;
}

.logo {
  width: 100px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .navbar {
    transition: 0.8s all ease;
    display: flex;
    justify-content: right;
  }

  .navList {
    display: none;
    flex-direction: column;
  }

  .burger {
    display: block;
    padding: 1.7em;
  }
}
